In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt 
import seaborn as sns

Customer Churn Prediction Using Artificial Neural Network (ANN)

Customer churn prediction is to measure why customers are leaving a business. In this tutorial we will be looking at customer churn in telecom business. We will build a deep learning model to predict the churn and use precision,recall, f1-score to measure performance of our model

In [5]:
dataset = pd.read_csv(r"/content/drive/MyDrive/churn.csv")
dataset.head(2)

   customerID  gender  SeniorCitizen  ... MonthlyServiceCharges TotalAmount  Churn
0  2907-ILJBN  Female            0.0  ...                  20.6      233.90     No
1  3896-RCYYE  Female            0.0  ...                  53.4     3579.15     No

[2 rows x 21 columns]

In [6]:
dataset = dataset.drop(["customerID"],axis=1)

In [7]:
dataset.head(1)

   gender  SeniorCitizen Partner  ... MonthlyServiceCharges  TotalAmount Churn
0  Female            0.0     Yes  ...                  20.6        233.9    No

[1 rows x 20 columns]

In [8]:
dataset.isnull().sum()

gender                     0
SeniorCitizen              0
Partner                    0
Dependents                 0
tenure                     0
CallService                0
MultipleConnections        0
InternetConnection         0
OnlineSecurity             0
OnlineBackup               0
DeviceProtectionService    0
TechnicalHelp              0
OnlineTV                   0
OnlineMovies               0
Agreement                  0
BillingMethod              0
PaymentMethod              0
MonthlyServiceCharges      0
TotalAmount                0
Churn                      0
dtype: int64

In [9]:
dataset.shape

(12335, 20)

In [10]:
dataset.MonthlyServiceCharges = dataset.MonthlyServiceCharges.astype("object")
dataset.SeniorCitizen = dataset.SeniorCitizen.astype("int")
dataset.TotalAmount = dataset.TotalAmount.astype("object")
dataset.tenure = dataset.tenure.astype("int")

In [11]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12335 entries, 0 to 12334
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gender                   12335 non-null  object
 1   SeniorCitizen            12335 non-null  int64
 2   Partner                  12335 non-null  object
 3   Dependents               12335 non-null  object
 4   tenure                   12335 non-null  int64
 5   CallService              12335 non-null  object
 6   MultipleConnections      12335 non-null  object
 7   InternetConnection       12335 non-null  object
 8   OnlineSecurity           12335 non-null  object
 9   OnlineBackup             12335 non-null  object
 10  DeviceProtectionService  12335 non-null  object
 11  TechnicalHelp            12335 non-null  object
 12  OnlineTV                 12335 non-null  object
 13  OnlineMovies             12335 non-null  object
 14  Agreement                12335 non-null  object
 15  BillingMethod            12335 non-null  object
 16  PaymentMethod            12335 non-null  object
 17  MonthlyServiceCharges    12335 non-null  object
 18  TotalAmount              12335 non-null  object
 19  Churn                    12335 non-null  object
dtypes: int64(2), object(18)
memory usage: 1.9+ MB

In [34]:
#frequency of categories
for col in dataset:
    print('\n%s column: '%col)
    print(dataset[col].value_counts())

gender column:
0    6216
1    6119
Name: gender, dtype: int64

SeniorCitizen column:
0    10769
1     1566
Name: SeniorCitizen, dtype: int64

Partner column:
1    6230
0    6105
Name: Partner, dtype: int64

Dependents column:
0    7974
1    4361
Name: Dependents, dtype: int64

tenure column:
0.000000    1084
1.000000     485
0.014085     434
0.028169     374
0.042254     317
            ...
0.605634      92
0.901408      91
0.816901      90
0.830986      86
0.760563      84
Name: tenure, Length: 72, dtype: int64

CallService column:
1    10933
0     1402
Name: CallService, dtype: int64

MultipleConnections column:
0    7377
1    4958
Name: MultipleConnections, dtype: int64

InternetConnection column:
1    4995
0    4130
2    3210
Name: InternetConnection, dtype: int64

OnlineSecurity column:
0    9006
1    3329
Name: OnlineSecurity, dtype: int64

OnlineBackup column:
0    8345
1    3990
Name: OnlineBackup, dtype: int64

DeviceProtectionService column:
0    8414
1    3921
Name: DeviceProtectionService, dtype: int64

TechnicalHelp column:
0    9077
1    3258
Name: TechnicalHelp, dtype: int64

OnlineTV column:
0    7837
1    4498
Name: OnlineTV, dtype: int64

OnlineMovies column:
0    7842
1    4493
Name: OnlineMovies, dtype: int64

Agreement column:
0    7058
1    2692
2    2585
Name: Agreement, dtype: int64

BillingMethod column:
1    7053
0    5282
Name: BillingMethod, dtype: int64

PaymentMethod column:
2    4013
3    3029
0    2758
1    2535
Name: PaymentMethod, dtype: int64

MonthlyServiceCharges column:
0.017413    69
0.016915    66
0.017910    64
0.016418    60
0.014925    56
            ..
0.447928     1
0.315407     1
0.463148     1
0.484250     1
0.487009     1
Name: MonthlyServiceCharges, Length: 5231, dtype: int64

TotalAmount column:
0.000162    13
0.000110    13
0.000127    11
0.000156    10
0.000144    10
            ..
0.557087     1
0.174094     1
0.012598     1
0.416011     1
0.000000     1
Name: TotalAmount, Length: 8951, dtype: int64

Churn column:
0    6728
1    5607
Name: Churn, dtype: int64

In [13]:
dataset.replace('No phone service','No',inplace=True)
dataset.replace('No internet service','No',inplace=True)

## Label Encoding

In [14]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [15]:
dataset[dataset.select_dtypes(include=['object']).columns] = dataset[dataset.select_dtypes(include=['object']).columns].apply(le.fit_transform)

In [16]:
dataset.head(2)

   gender  SeniorCitizen  Partner  ...  MonthlyServiceCharges  TotalAmount  Churn
0       0              0        1  ...                   20.6       233.90      0
1       0              0        0  ...                   53.4      3579.15      0

[2 rows x 20 columns]

In [17]:
X=dataset.drop(['Churn'],axis=1)
X

       gender  SeniorCitizen  ...  MonthlyServiceCharges  TotalAmount
0           0              0  ...              20.600000   233.900000
1           0              0  ...              53.400000  3579.150000
2           0              0  ...              18.400000  1057.850000
3           1              0  ...              26.300000  1688.900000
4           0              0  ...              75.250000   888.650000
...       ...            ...  ...                    ...          ...
12330       1              0  ...              40.151251    76.135546
12331       0              0  ...              96.252187  6310.292602
12332       1              0  ...              70.445975  4091.168541
12333       1              0  ...              55.819099   560.153643
12334       0              0  ...              43.488511   263.006875

[12335 rows x 19 columns]

In [18]:
y=dataset.loc[:,'Churn']
y

0        0
1        0
2        0
3        0
4        0
        ..
12330    1
12331    1
12332    1
12333    1
12334    1
Name: Churn, Length: 12335, dtype: int64

In [19]:
dataset.head(10)

   gender  SeniorCitizen  Partner  ...  MonthlyServiceCharges  TotalAmount  Churn
0       0              0        1  ...                  20.60       233.90      0
1       0              0        0  ...                  53.40      3579.15      0
2       0              0        1  ...                  18.40      1057.85      0
3       1              0        1  ...                  26.30      1688.90      0
4       0              0        0  ...                  75.25       888.65      0
5       0              0        1  ...                  92.90      3379.25      0
6       0              0        1  ...                  61.75      3024.15      0
7       0              0        0  ...                 100.05      5299.65      0
8       1              0        0  ...                  84.30      2281.60      0
9       1              0        0  ...                  18.80       279.20      0

[10 rows x 20 columns]

In [20]:
cols_to_scale = ['tenure','MonthlyServiceCharges','TotalAmount']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
dataset[cols_to_scale] = scaler.fit_transform(dataset[cols_to_scale])

In [21]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.2,random_state=10)

### Apply Logistics regession

In [22]:
from sklearn.linear_model import LogisticRegression
lg = LogisticRegression()

In [23]:
model = lg.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [24]:
pred = model.predict(X_test)

In [25]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [26]:
tab = confusion_matrix(pred,y_test)
print("Confusion Matrix:\n",tab)
# evaluate predictions
acc = (accuracy_score(y_test, pred))*100
print("\nAccuracy: %.2f%%\n" % acc)
print(classification_report(y_test,pred))

Confusion Matrix:
 [[916 324]
 [445 782]]

Accuracy: 68.83%

              precision    recall  f1-score   support

           0       0.74      0.67      0.70      1361
           1       0.64      0.71      0.67      1106

    accuracy                           0.69      2467
   macro avg       0.69      0.69      0.69      2467
weighted avg       0.69      0.69      0.69      2467

In [27]:
X_train.shape

(9868, 19)

## Apply ANN

In [28]:
import tensorflow as tf
from tensorflow import keras

In [32]:
model1 = keras.Sequential([
    keras.layers.Dense(18, input_shape=(19,), activation='relu'),
    keras.layers.Dense(10, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
])

#opt = keras.optimizers.Adam(learning_rate=0.01)

model1.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [33]:
model1.fit(X_train,y_train, epochs=100)

Epoch 1/100
309/309 [==============================] - 1s 2ms/step - loss: 7.0789 - accuracy: 0.5723
Epoch 2/100
309/309 [==============================] - 1s 2ms/step - loss: 0.8273 - accuracy: 0.6552
Epoch 3/100
309/309 [==============================] - 1s 2ms/step - loss: 0.9289 - accuracy: 0.6568
Epoch 4/100
309/309 [==============================] - 1s 2ms/step - loss: 0.8850 - accuracy: 0.6543
Epoch 5/100
309/309 [==============================] - 1s 2ms/step - loss: 1.2698 - accuracy: 0.6488
Epoch 6/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6936 - accuracy: 0.6849
Epoch 7/100
309/309 [==============================] - 1s 2ms/step - loss: 0.9525 - accuracy: 0.6509
Epoch 8/100
309/309 [==============================] - 1s 2ms/step - loss: 0.8332 - accuracy: 0.6725
Epoch 9/100
309/309 [==============================] - 1s 2ms/step - loss: 0.7553 - accuracy: 0.6658
Epoch 10/100
309/309 [==============================] - 1s 2ms/step - loss: 0.9233 - accuracy: 0.6679
Epoch 11/100
309/309 [==============================] - 1s 2ms/step - loss: 0.7292 - accuracy: 0.6643
Epoch 12/100
309/309 [==============================] - 1s 2ms/step - loss: 0.8166 - accuracy: 0.6720
Epoch 13/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6759 - accuracy: 0.6830
Epoch 14/100
309/309 [==============================] - 1s 2ms/step - loss: 0.8339 - accuracy: 0.6748
Epoch 15/100
309/309 [==============================] - 1s 2ms/step - loss: 0.8075 - accuracy: 0.6690
Epoch 16/100
309/309 [==============================] - 1s 2ms/step - loss: 0.9994 - accuracy: 0.6598
Epoch 17/100
309/309 [==============================] - 1s 2ms/step - loss: 0.7008 - accuracy: 0.6708
Epoch 18/100
309/309 [==============================] - 1s 2ms/step - loss: 0.8877 - accuracy: 0.6666
Epoch 19/100
309/309 [==============================] - 1s 2ms/step - loss: 0.7409 - accuracy: 0.6751
Epoch 20/100
309/309 [==============================] - 1s 2ms/step - loss: 0.8133 - accuracy: 0.6705
Epoch 21/100
309/309 [==============================] - 1s 2ms/step - loss: 0.7412 - accuracy: 0.6707
Epoch 22/100
309/309 [==============================] - 1s 2ms/step - loss: 0.7145 - accuracy: 0.6760
Epoch 23/100
309/309 [==============================] - 1s 2ms/step - loss: 0.7869 - accuracy: 0.6797
Epoch 24/100
309/309 [==============================] - 1s 2ms/step - loss: 0.7887 - accuracy: 0.6749
Epoch 25/100
309/309 [==============================] - 1s 2ms/step - loss: 0.7018 - accuracy: 0.6828
Epoch 26/100
309/309 [==============================] - 1s 2ms/step - loss: 0.7653 - accuracy: 0.6847
Epoch 27/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6753 - accuracy: 0.6966
Epoch 28/100
309/309 [==============================] - 1s 2ms/step - loss: 0.9084 - accuracy: 0.6795
Epoch 29/100
309/309 [==============================] - 1s 2ms/step - loss: 0.7243 - accuracy: 0.6874
Epoch 30/100
309/309 [==============================] - 1s 2ms/step - loss: 0.7841 - accuracy: 0.6835
Epoch 31/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6882 - accuracy: 0.6954
Epoch 32/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6718 - accuracy: 0.6998
Epoch 33/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6787 - accuracy: 0.6962
Epoch 34/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6624 - accuracy: 0.6931
Epoch 35/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6022 - accuracy: 0.7191
Epoch 36/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6856 - accuracy: 0.7104
Epoch 37/100
309/309 [==============================] - 1s 2ms/step - loss: 0.7043 - accuracy: 0.7010
Epoch 38/100
309/309 [==============================] - 1s 2ms/step - loss: 0.7850 - accuracy: 0.6880
Epoch 39/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6449 - accuracy: 0.7088
Epoch 40/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6635 - accuracy: 0.7147
Epoch 41/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6533 - accuracy: 0.7030
Epoch 42/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6042 - accuracy: 0.7213
Epoch 43/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6984 - accuracy: 0.7040
Epoch 44/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6685 - accuracy: 0.7179
Epoch 45/100
309/309 [==============================] - 1s 2ms/step - loss: 0.7719 - accuracy: 0.7119
Epoch 46/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6629 - accuracy: 0.7190
Epoch 47/100
309/309 [==============================] - 1s 2ms/step - loss: 0.7628 - accuracy: 0.6924
Epoch 48/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6978 - accuracy: 0.7148
Epoch 49/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6744 - accuracy: 0.7191
Epoch 50/100
309/309 [==============================] - 1s 2ms/step - loss: 0.8396 - accuracy: 0.6904
Epoch 51/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6208 - accuracy: 0.7333
Epoch 52/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5944 - accuracy: 0.7326
Epoch 53/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5720 - accuracy: 0.7385
Epoch 54/100
309/309 [==============================] - 1s 2ms/step - loss: 0.7132 - accuracy: 0.7174
Epoch 55/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6039 - accuracy: 0.7390
Epoch 56/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6282 - accuracy: 0.7308
Epoch 57/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5814 - accuracy: 0.7463
Epoch 58/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6100 - accuracy: 0.7366
Epoch 59/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6213 - accuracy: 0.7293
Epoch 60/100
309/309 [==============================] - 1s 2ms/step - loss: 0.7594 - accuracy: 0.7027
Epoch 61/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5874 - accuracy: 0.7323
Epoch 62/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5994 - accuracy: 0.7279
Epoch 63/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5946 - accuracy: 0.7303
Epoch 64/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6005 - accuracy: 0.7386
Epoch 65/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6821 - accuracy: 0.7298
Epoch 66/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5748 - accuracy: 0.7362
Epoch 67/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6141 - accuracy: 0.7385
Epoch 68/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6073 - accuracy: 0.7274
Epoch 69/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5728 - accuracy: 0.7405
Epoch 70/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5731 - accuracy: 0.7462
Epoch 71/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5624 - accuracy: 0.7385
Epoch 72/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5885 - accuracy: 0.7366
Epoch 73/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5222 - accuracy: 0.7449
Epoch 74/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5302 - accuracy: 0.7524
Epoch 75/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6350 - accuracy: 0.7269
Epoch 76/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7427
Epoch 77/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5485 - accuracy: 0.7417
Epoch 78/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5171 - accuracy: 0.7547
Epoch 79/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5858 - accuracy: 0.7459
Epoch 80/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5303 - accuracy: 0.7473
Epoch 81/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5675 - accuracy: 0.7364
Epoch 82/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6626 - accuracy: 0.7275
Epoch 83/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5209 - accuracy: 0.7538
Epoch 84/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5968 - accuracy: 0.7415
Epoch 85/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5294 - accuracy: 0.7523
Epoch 86/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5311 - accuracy: 0.7507
Epoch 87/100
309/309 [==============================] - 1s 2ms/step - loss: 0.6176 - accuracy: 0.7345
Epoch 88/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5196 - accuracy: 0.7514
Epoch 89/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5142 - accuracy: 0.7537
Epoch 90/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5696 - accuracy: 0.7439
Epoch 91/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5273 - accuracy: 0.7523
Epoch 92/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5265 - accuracy: 0.7508
Epoch 93/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7453
Epoch 94/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5049 - accuracy: 0.7484
Epoch 95/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7510
Epoch 96/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7474
Epoch 97/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5065 - accuracy: 0.7588
Epoch 98/100
309/309 [==============================] - 1s 2ms/step - loss: 0.4931 - accuracy: 0.7557
Epoch 99/100
309/309 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7543
Epoch 100/100
309/309 [==============================] - 1s 2ms/step - loss: 0.4990 - accuracy: 0.7561